<!--@subject Bienvenue, {{var customer.name}}! @-->

<style type="text/css">
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
</style>

<div style="font:11px/1.35em Verdana, Arial, Helvetica, sans-serif;">
    <table cellspacing="0" cellpadding="0" border="0" width="98%" style="margin-top:10px; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; margin-bottom:10px;">
        <tr>
            <td align="center" valign="top">
                <!-- [ header starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <a href="{{store url=""}}"><img src="{{skin url="images/logo_email.gif"}}" alt="Magento"  style="margin-bottom:10px;" border="0"/></a></td>
                    </tr>
                </table>

                <!-- [ middle starts here] -->
                <table cellspacing="0" cellpadding="0" border="0" width="650">
                    <tr>
                        <td valign="top">
                            <p><strong>Cher {{var customer.name}}</strong>,<br/>
                              Bienvenue sur la boutique de d&eacute;mo de Magento. Pour vous identifier lors de vos visites sur notre site, cliquez sur <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Connexion</a> ou <a href="{{store url="customer/account/"}}" style="color:#1E7EC8;">Mon compte</a> en haut de toutes les pages, puis saisissez votre email et votre mot de passe.</p>

                            <p style="border:1px solid #BEBCB7; padding:13px 18px; background:#F8F7F5; ">
                                Vos informations d'identification:<br/>
                                E-mail: {{var customer.email}}<br/>
                                Mot de passe: {{var customer.password}}<p>

                            <p>En vous connectant &agrave; votre compte, vous pourrez :</p>

                            <ul>
                                <li>Passer votre commande plus vite</li>
                                <li>Suivre l'&eacute;tat de vos commandes</li>
                                <li>Consulter vos anciennes commandes</li>
                                <li>Mettre &agrave; jour vos coordonn&eacute;es dans votre compte</li>
                                <li>Modifier votre mot de passe</li>
                                <li>Enregistrer plusieurs adresses (pour livrer &agrave; vos nombreux amis ou membres de la famille !)</li>
                            </ul>

                            <p>Si vous avez des questions au sujet de votre compte ou autre, n'h&eacute;sitez pas &agrave; nous contacter par mail: <a href="mailto:magento@varien.com" style="color:#1E7EC8;">dummyemail@magentocommerce.com</a> ou par t&eacute;l&eacute;phone au (800) DEMO-STORE.</p>
                            <p>Merci&nbsp;!</p>


                        </td>
                    </tr>
                </table>

            </td>
        </tr>
    </table>
</div>
